* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('background.jpg');
    height: 50px;
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}

body h1 {
    background-color: #e48484;
}

.quote {
    background-color: #e4848482;
    font-size: xx-large;
    font-weight: 300;
    font-family: cursive;
}

.menu-bar {
    background-color: rgba(0, 0, 255, 0.67);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: azure;
}

.menu-bar ul li {
    width: 150px;
    margin: 5px;
    padding: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li :hover {
    background: lightblue;
    border-radius: 5px;
}

.importance {
    padding: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: rgba(240, 255, 255, 0.726);
}

.grain {
    display: flex;
    height: 500px;
    width: 500px;
}

.iym {
    display: flex;
    height: 400px;
    width: 500px;
}